body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-board {
  text-align: center;
  display: block;
}

.board-row {
  margin:auto;
  display:block;
}

.square{
  display: inline;
  min-width: 5rem;
  min-height: 5rem;
}

.center-div {
  text-align: center;
  display: block;
}